<img style="float: left;;" src='../Imagenes/iteso.jpg' width="50" height="100"/></a>

# <center> <font color= #000047> Módulo I: Análisis Exploratorio de Datos (EDA) </font> </center>

### ¿Qué es?

Es cuando revisamos por primera vez los datos que nos llegan, por ejemplo un archivo CSV que nos entregan y deberemos intentar comprender **¿de qué se trata?**, vislumbrar posibles patrones y reconociendo distribuciones estadísticas que puedan ser útiles en el futuro.

Lo ideal es que tengamos un objetivo que nos hayan *“adjuntado”* con los datos, que indique lo que se quiere conseguir a partir de esos datos. Por ejemplo, nos pasan un excel y nos dicen *“Queremos predecir ventas a 30 días”*, ó *“Clasificar casos malignos/benignos de una enfermedad”*, *“Queremos identificar audiencias que van a realizar re-compra de un producto”*, *“queremos hacer pronóstico de fidelización de clientes/abandonos”*, *“Quiero detectar casos de fraude en mi sistema en tiempo real”*.

### ¿Que hacer cuando llegar un archivo?

- ¿Cuántos registros hay?
    - ¿Son demasiado pocos?
    - ¿Son muchos y no tenemos Capacidad (CPU+RAM) suficiente para procesarlo?
    
- ¿Están todas las filas completas ó tenemos campos con valores nulos?
    - En caso que haya demasiados nulos: ¿Queda el resto de información inútil?
    
- ¿Que datos son discretos y cuales continuos?
    - Muchas veces sirve obtener el tipo de datos: texto, int, double, float
    
- Si es un problema de tipo supervisado:
    - ¿Cuál es la columna de “salida”? ¿binaria, multiclase?
    - ¿Esta balanceado el conjunto salida?
    
- ¿Cuales parecen ser features importantes? ¿Cuales podemos descartar?

- ¿Siguen alguna distribución?

- ¿Hay correlación entre features (características)?

- En problemas de NLP es frecuente que existan categorías repetidas ó mal tipeadas, ó con mayusculas/minúsculas, singular y plural, por ejemplo “Abogado” y “Abogadas”, “avogado” pertenecerían todos a un mismo conjunto.

- ¿Estamos ante un problema dependiente del tiempo? Es decir un TimeSeries.

- Si fuera un problema de Visión Artificial: ¿Tenemos suficientes muestras de cada clase y variedad, para poder hacer generalizar un modelo de Machine Learning?

- ¿Cuales son los Outliers? (unos pocos datos aislados que difieren drásticamente del resto y “contaminan” ó desvían las distribuciones)
    - Podemos eliminarlos? es importante conservarlos?
    - son errores de carga o son reales?
    
- ¿Tenemos posible sesgo de datos? (por ejemplo perjudicar a clases minoritarias por no incluirlas y que el modelo de ML discrimine)

## Elementos de un EDA

In [1]:
import pandas as pd
import numpy as np

In [2]:
df_movie = pd.read_csv('../Data/movie_metadata.csv')
df_movie.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [3]:
df_movie.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5043 entries, 0 to 5042
Data columns (total 28 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   color                      5024 non-null   object
 1   director_name              4939 non-null   object
 2   num_critic_for_reviews     4993 non-null   float64
 3   duration                   5028 non-null   float64
 4   director_facebook_likes    4939 non-null   float64
 5   actor_3_facebook_likes     5020 non-null   float64
 6   actor_2_name               5030 non-null   object
 7   actor_1_facebook_likes     5036 non-null   float64
 8   gross                      4159 non-null   float64
 9   genres                     5043 non-null   object
 10  actor_1_name               5036 non-null   object
 11  movie_title                5043 non-null   object
 12  num_voted_users            5043 non-null   int64
 13  cast_total_facebook_likes  5043 non-null   int64
 14  actor_3_name               5020 non-null   object
 15  facenumber_in_poster       5030 non-null   float64
 16  plot_keywords              4890 non-null   object
 17  movie_imdb_link            5043 non-null   object
 18  num_user_for_reviews       5022 non-null   float64
 19  language                   5031 non-null   object
 20  country                    5038 non-null   object
 21  content_rating             4740 non-null   object
 22  budget                     4551 non-null   float64
 23  title_year                 4935 non-null   float64
 24  actor_2_facebook_likes     5030 non-null   float64
 25  imdb_score                 5043 non-null   float64
 26  aspect_ratio               4714 non-null   float64
 27  movie_facebook_likes       5043 non-null   int64
dtypes: float64(13), int64(3), object(12)
memory usage: 1.1+ MB

In [4]:
from CDIN import CDIN as cd

In [5]:
movie = cd(df_movie)

In [6]:
col_movie_cuali, _ =movie.get_cualitativos()

In [7]:
# Las columnas categóricas de este dataframe son:
col_movie_cuali

Index(['color', 'director_name', 'actor_2_name', 'genres', 'actor_1_name',
       'movie_title', 'actor_3_name', 'plot_keywords', 'movie_imdb_link',
       'language', 'country', 'content_rating'],
      dtype='object')

In [8]:
col_movie_cuanti, _ =movie.get_cuantitativos()

NameError: name 'df' is not defined

## Manejando datos faltantes

In [9]:
df_movie.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5043 entries, 0 to 5042
Data columns (total 28 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   color                      5024 non-null   object
 1   director_name              4939 non-null   object
 2   num_critic_for_reviews     4993 non-null   float64
 3   duration                   5028 non-null   float64
 4   director_facebook_likes    4939 non-null   float64
 5   actor_3_facebook_likes     5020 non-null   float64
 6   actor_2_name               5030 non-null   object
 7   actor_1_facebook_likes     5036 non-null   float64
 8   gross                      4159 non-null   float64
 9   genres                     5043 non-null   object
 10  actor_1_name               5036 non-null   object
 11  movie_title                5043 non-null   object
 12  num_voted_users            5043 non-null   int64
 13  cast_total_facebook_likes  5043 non-null   int64
 14  actor_3_name               5020 non-null   object
 15  facenumber_in_poster       5030 non-null   float64
 16  plot_keywords              4890 non-null   object
 17  movie_imdb_link            5043 non-null   object
 18  num_user_for_reviews       5022 non-null   float64
 19  language                   5031 non-null   object
 20  country                    5038 non-null   object
 21  content_rating             4740 non-null   object
 22  budget                     4551 non-null   float64
 23  title_year                 4935 non-null   float64
 24  actor_2_facebook_likes     5030 non-null   float64
 25  imdb_score                 5043 non-null   float64
 26  aspect_ratio               4714 non-null   float64
 27  movie_facebook_likes       5043 non-null   int64
dtypes: float64(13), int64(3), object(12)
memory usage: 1.1+ MB

In [10]:
df_movie_drop = df_movie.dropna()
df_movie_drop

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
5,Color,Andrew Stanton,462.0,132.0,475.0,530.0,Samantha Morton,640.0,73058679.0,Action|Adventure|Sci-Fi,...,738.0,English,USA,PG-13,263700000.0,2012.0,632.0,6.6,2.35,24000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5026,Color,Olivier Assayas,81.0,110.0,107.0,45.0,Béatrice Dalle,576.0,136007.0,Drama|Music|Romance,...,39.0,French,France,R,4500.0,2004.0,133.0,6.9,2.35,171
5027,Color,Jafar Panahi,64.0,90.0,397.0,0.0,Nargess Mamizadeh,5.0,673780.0,Drama,...,26.0,Persian,Iran,Not Rated,10000.0,2000.0,0.0,7.5,1.85,697
5033,Color,Shane Carruth,143.0,77.0,291.0,8.0,David Sullivan,291.0,424760.0,Drama|Sci-Fi|Thriller,...,371.0,English,USA,PG-13,7000.0,2004.0,45.0,7.0,1.85,19000
5035,Color,Robert Rodriguez,56.0,81.0,0.0,6.0,Peter Marquardt,121.0,2040920.0,Action|Crime|Drama|Romance|Thriller,...,130.0,Spanish,USA,R,7000.0,1992.0,20.0,6.9,1.37,0
5042,Color,Jon Gunn,43.0,90.0,16.0,16.0,Brian Herzlinger,86.0,85222.0,Documentary,...,84.0,English,USA,PG,1100.0,2004.0,23.0,6.6,1.85,456

In [11]:
df_movie_drop.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3756 entries, 0 to 5042
Data columns (total 28 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   color                      3756 non-null   object
 1   director_name              3756 non-null   object
 2   num_critic_for_reviews     3756 non-null   float64
 3   duration                   3756 non-null   float64
 4   director_facebook_likes    3756 non-null   float64
 5   actor_3_facebook_likes     3756 non-null   float64
 6   actor_2_name               3756 non-null   object
 7   actor_1_facebook_likes     3756 non-null   float64
 8   gross                      3756 non-null   float64
 9   genres                     3756 non-null   object
 10  actor_1_name               3756 non-null   object
 11  movie_title                3756 non-null   object
 12  num_voted_users            3756 non-null   int64
 13  cast_total_facebook_likes  3756 non-null   int64
 14  actor_3_name               3756 non-null   object
 15  facenumber_in_poster       3756 non-null   float64
 16  plot_keywords              3756 non-null   object
 17  movie_imdb_link            3756 non-null   object
 18  num_user_for_reviews       3756 non-null   float64
 19  language                   3756 non-null   object
 20  country                    3756 non-null   object
 21  content_rating             3756 non-null   object
 22  budget                     3756 non-null   float64
 23  title_year                 3756 non-null   float64
 24  actor_2_facebook_likes     3756 non-null   float64
 25  imdb_score                 3756 non-null   float64
 26  aspect_ratio               3756 non-null   float64
 27  movie_facebook_likes       3756 non-null   int64
dtypes: float64(13), int64(3), object(12)
memory usage: 851.0+ KB

In [12]:
df_movie['duration'] = df_movie['duration'].fillna(df_movie['duration'].mean())

In [13]:
df_movie.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5043 entries, 0 to 5042
Data columns (total 28 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   color                      5024 non-null   object
 1   director_name              4939 non-null   object
 2   num_critic_for_reviews     4993 non-null   float64
 3   duration                   5043 non-null   float64
 4   director_facebook_likes    4939 non-null   float64
 5   actor_3_facebook_likes     5020 non-null   float64
 6   actor_2_name               5030 non-null   object
 7   actor_1_facebook_likes     5036 non-null   float64
 8   gross                      4159 non-null   float64
 9   genres                     5043 non-null   object
 10  actor_1_name               5036 non-null   object
 11  movie_title                5043 non-null   object
 12  num_voted_users            5043 non-null   int64
 13  cast_total_facebook_likes  5043 non-null   int64
 14  actor_3_name               5020 non-null   object
 15  facenumber_in_poster       5030 non-null   float64
 16  plot_keywords              4890 non-null   object
 17  movie_imdb_link            5043 non-null   object
 18  num_user_for_reviews       5022 non-null   float64
 19  language                   5031 non-null   object
 20  country                    5038 non-null   object
 21  content_rating             4740 non-null   object
 22  budget                     4551 non-null   float64
 23  title_year                 4935 non-null   float64
 24  actor_2_facebook_likes     5030 non-null   float64
 25  imdb_score                 5043 non-null   float64
 26  aspect_ratio               4714 non-null   float64
 27  movie_facebook_likes       5043 non-null   int64
dtypes: float64(13), int64(3), object(12)
memory usage: 1.1+ MB

In [14]:
df_movie['color'].unique()

array(['Color', nan, ' Black and White'], dtype=object)

In [15]:
df_movie['color'] = df_movie['color'].fillna('unknow')
df_movie['color'].unique()

array(['Color', 'unknow', ' Black and White'], dtype=object)

In [16]:
df_movie.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5043 entries, 0 to 5042
Data columns (total 28 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   color                      5043 non-null   object
 1   director_name              4939 non-null   object
 2   num_critic_for_reviews     4993 non-null   float64
 3   duration                   5043 non-null   float64
 4   director_facebook_likes    4939 non-null   float64
 5   actor_3_facebook_likes     5020 non-null   float64
 6   actor_2_name               5030 non-null   object
 7   actor_1_facebook_likes     5036 non-null   float64
 8   gross                      4159 non-null   float64
 9   genres                     5043 non-null   object
 10  actor_1_name               5036 non-null   object
 11  movie_title                5043 non-null   object
 12  num_voted_users            5043 non-null   int64
 13  cast_total_facebook_likes  5043 non-null   int64
 14  actor_3_name               5020 non-null   object
 15  facenumber_in_poster       5030 non-null   float64
 16  plot_keywords              4890 non-null   object
 17  movie_imdb_link            5043 non-null   object
 18  num_user_for_reviews       5022 non-null   float64
 19  language                   5031 non-null   object
 20  country                    5038 non-null   object
 21  content_rating             4740 non-null   object
 22  budget                     4551 non-null   float64
 23  title_year                 4935 non-null   float64
 24  actor_2_facebook_likes     5030 non-null   float64
 25  imdb_score                 5043 non-null   float64
 26  aspect_ratio               4714 non-null   float64
 27  movie_facebook_likes       5043 non-null   int64
dtypes: float64(13), int64(3), object(12)
memory usage: 1.1+ MB

## Limpieza de los datos

- Eliminar símbolos raros
- Remover dígitos
- Remover espacios en blanco
- Reemplazar texto
- Convertir textos en mínuscula/mayúscula
- Dejar solamente dígitos

In [17]:
import string

In [18]:
dirty_df = pd.read_csv('../Data/dirty_data.csv')

In [19]:
dirty_df

    age  birth_date     marital                            people          ssn
0    24  02/12/1954     soltero                  Alfonso A,guilar         6439
1    35  05/07/1958      casado                 edu6ardo Castillo  689 24 9939
2    46  01-26-1956     Soltero                     jocelyn medel  306-05-2792
3    57  19xx-10-23  divorciado                VICTOR ramos _ _ _  99922a45832
4    10  02/12/0054     SOLTERO    CARLOS EDUARDO; OCHOA ARAMBULA         6439
5    25  05/07/1958      CASado        JOSE MANUEL OCHOA CARDENAS  689 24 9939
6    63  01-26-1956     Soltero         JUAN MARIO; OCHOA NAVARRO  306-05-2792
7    59  19xx?10-23  DIVORCIADO             LUIS ONTANEDA MIJARES  99922a45832
8    69  02/12/1954     soltero       EDUARDO OMAR ORTEGA RAMIREZ          NaN
9    59  05/07/1958         NaN  JOSE ALEJANDRO& PRECIADO GANDARA         6439
10   20  01-26-1956     Soltero  Jose Aantonio Quintero Rodriguez  689 24 9938
11   25  19xx-10-23  divorciado           JOSE ALFONSO RAMIREZ D.  306-06-2792
12   30  02/12/0054     missing           ANA PAULA RANGEL OCHOA&  99922a45845
13   35  05/07/1958      casado                Arturo RUIZ CHAVEZ      missing

In [20]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [21]:
def remove_punctuation(x):
    x = ''.join(ch for ch in x if ch not in string.punctuation)
    return x

In [22]:
palabra = 'Ho,la!'

In [23]:
remove_punctuation(palabra)

'Hola'

In [24]:
remove_punctuation('VICTOR ramos _ _ _')

'VICTOR ramos   '

In [25]:
remove_punctuation(2558)

TypeError: 'int' object is not iterable

In [26]:
for ch in x:
    if ch not in string.punctuation:
        x=x+ch

NameError: name 'x' is not defined

In [27]:
#Método para remover símbolos de puntuación
def remove_punctuation(x):
    try:
        x = ''.join(ch for ch in x if ch not in string.punctuation)
    except:
        print(f'{x} no es un string, no se puede remover símbolos de puntuación')
        pass
    return x

In [28]:
remove_punctuation('VICTOR ramos _ _ _')

'VICTOR ramos   '

In [29]:
remove_punctuation(2558)

2558 no es un string, no se puede remover símbolos de puntuación

2558

In [30]:
string.digits

'0123456789'

In [31]:
#Método para remover dígitos en una cadena de caracteres
def remove_digits(x):
    try:
        x = ''.join(ch for ch in x if ch not in string.digits)
    except:
        pass
    return x

In [32]:
palabra = 'edu6ardo Castillo'
remove_digits(palabra)

'eduardo Castillo'

In [33]:
remove_digits(2878)

2878

In [34]:
'Hola mundo, cómo están?'.split()

['Hola', 'mundo,', 'cómo', 'están?']

In [35]:
#Método para remover espacios en blanco
def remove_whitespace(x):
    try:
        x=''.join(x.split())
    except:
        pass
    return x

In [36]:
remove_whitespace('Hola mundo, cómo están?')

'Holamundo,cómoestán?'

In [37]:
#Método para reemplazar texto
def replace_text(x, to_replace, replacement):
    try:
        x=x.replace(to_replace, replacement)
    except:
        pass
    return x

In [38]:
#Método para convertir una cadenada de caracteres en mayúsculas
def uppercase_text(x):
    try:
        x=x.upper()
    except:
        pass
    return x

In [39]:
#Método para convertir una cadenada de caracteres en minúsculas
def lowercase_text(x):
    try:
        x=x.lowe()
    except:
        pass
    return x

In [40]:
dirty_df['people'].apply(uppercase_text).apply(remove_punctuation).apply(remove_digits)

0                      ALFONSO AGUILAR
1                     EDUARDO CASTILLO
2                        JOCELYN MEDEL
3                      VICTOR RAMOS
4        CARLOS EDUARDO OCHOA ARAMBULA
5           JOSE MANUEL OCHOA CARDENAS
6             JUAN MARIO OCHOA NAVARRO
7                LUIS ONTANEDA MIJARES
8          EDUARDO OMAR ORTEGA RAMIREZ
9      JOSE ALEJANDRO PRECIADO GANDARA
10    JOSE AANTONIO QUINTERO RODRIGUEZ
11              JOSE ALFONSO RAMIREZ D
12              ANA PAULA RANGEL OCHOA
13                  ARTURO RUIZ CHAVEZ
Name: people, dtype: object

In [48]:
import pandas as pd
import numpy as np
import string

class CDIN:
    def __init__(self,df):
        self.df=df
        self.col_binarios=None
        self.col_cuantitativos=None
        self.col_cualitativos=None
   
    # Métodos para obtener la clasificación de los datos en un dataframe 
    def get_binarios(self):
        col = self.df.columns
        col_binarias = []
        for c in col:
            if self.df[c].nunique()==2:
                col_binarias.append(c)
        
        self.col_binarios = col_binarias
        return self.col_binarios, self.df[self.col_binarios]
        
    def get_cualitativos(self):
        df_cuali = self.df.select_dtypes(include=['object']).copy()
        self.col_cualitativos = df_cuali.columns
        # No se hace distinción entre cat nominales y ordinales
        
        return self.col_cualitativos, df_cuali
    
    def get_cuantitativos(self):
        df_cuanti = df.select_dtypes(include=['number']).copy()
        self.col_cuantitativos = df_cuanti.columns
        return self.col_cuantitativos, df_cuanti
    
    ## Métodos estáticos para limpieza del dataframe
    @staticmethod
    def remove_punctuation(x):
        try:
            x = ''.join(ch for ch in x if ch not in string.punctuation)
        except:
            print(f'{x} no es un string, no se puede remover símbolos de puntuación')
            pass
        return x
       
    @staticmethod
    #Método para remover dígitos en una cadena de caracteres
    def remove_digits(x):
        try:
            x = ''.join(ch for ch in x if ch not in string.digits)
        except:
            pass
        return x
    @staticmethod
    #Método para remover espacios en blanco
    def remove_whitespace(x):
        try:
            x=''.join(x.split())
        except:
            pass
        return x
    @staticmethod
    #Método para reemplazar texto
    def replace_text(x, to_replace, replacement):
        try:
            x=x.replace(to_replace, replacement)
        except:
            pass
        return x
    @staticmethod
    #Método para convertir una cadenada de caracteres en mayúsculas
    def uppercase_text(x):
        try:
            x=x.upper()
        except:
            pass
        return x
    
    #Método para convertir una cadenada de caracteres en minúsculas
    @staticmethod
    def lowercase_text(x):
        try:
            x=x.lower()
        except:
            pass
        return x

In [49]:
cdin_dirty = CDIN(dirty_df)

In [52]:
cdin_dirty.df['people'].apply(cdin_dirty.uppercase_text).apply(cdin_dirty.remove_digits)

0                     ALFONSO A,GUILAR
1                     EDUARDO CASTILLO
2                        JOCELYN MEDEL
3                   VICTOR RAMOS _ _ _
4       CARLOS EDUARDO; OCHOA ARAMBULA
5           JOSE MANUEL OCHOA CARDENAS
6            JUAN MARIO; OCHOA NAVARRO
7                LUIS ONTANEDA MIJARES
8          EDUARDO OMAR ORTEGA RAMIREZ
9     JOSE ALEJANDRO& PRECIADO GANDARA
10    JOSE AANTONIO QUINTERO RODRIGUEZ
11             JOSE ALFONSO RAMIREZ D.
12             ANA PAULA RANGEL OCHOA&
13                  ARTURO RUIZ CHAVEZ
Name: people, dtype: object

In [53]:
from CDIN import CDIN as acd

In [54]:
acd.remove_whitespace('sdjdsjd jsjdsjsd sdjdsjds')

'sdjdsjdjsjdsjsdsdjdsjds'

In [56]:
dirty_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   age         14 non-null     int64
 1   birth_date  14 non-null     object
 2   marital     13 non-null     object
 3   people      14 non-null     object
 4   ssn         13 non-null     object
dtypes: int64(1), object(4)
memory usage: 688.0+ bytes

## Reporte de Calidad de Datos

In [76]:
def dqr(data):
    #%% Lista de variables de la base de datos
    columns = pd.DataFrame(list(data.columns.values), columns=['Nombre columnas'], index=list(data.columns.values))
    
    #%% Lista de tipos de datos del dataframe
    data_dtypes = pd.DataFrame(data.dtypes, columns=['Tipo de datos'])
    
    #%% Lista de valores perdidos del dataframe (valores faltante 'nan')
    missing_values = pd.DataFrame(data.isnull().sum(), columns=['valores faltantes'])
    
    #%% Lista de valores unicos de cada columns
    unique_values = pd.DataFrame(columns=['valores unicos'])
    for col in list(data.columns.values):
        unique_values.loc[col] = [data[col].nunique()]
        
    #%% Lista de valores unicos de cada columna
    lista_unique_values = pd.DataFrame(columns=['lista valores unicos'])
    for col in list(data.columns.values):
        lista_unique_values.loc[col] = [data[col].unique()]
            
    #%% Lista de valores presentes
    present_values = pd.DataFrame(data.count(), columns=['Valores presentes'])
    
    #%% Información estadística
    #%%Lista de valores máximos
    max_values = pd.DataFrame(columns=['Valores Max'])
    for col in list(data.columns.values):
        try:
            max_values.loc[col] = [data[col].max()]
        except:
            pass
        
    #%%Lista de valores mínimos
    min_values = pd.DataFrame(columns=['Valores Min'])
    for col in list(data.columns.values):
        try:
            min_values.loc[col] = [data[col].min()]
        except:
            pass
        
    #%% Lista de valores con su media
    #%% Lista de valores con su desviación estándar
    
    
    return columns.join(data_dtypes).join(missing_values).join(present_values).join(unique_values).join(lista_unique_values).join(max_values).join(min_values)

In [77]:
dqr(dirty_df)

,Nombre columnas,Tipo de datos,valores faltantes,Valores presentes,valores unicos,lista valores unicos,Valores Max,Valores Min
age,age,int64,0,14,11,"[24, 35, 46, 57, 10, 25, 63, 59, 69, 20, 30]",69,10
birth_date,birth_date,object,0,14,6,"[02/12/1954, 05/07/1958, 01-26-1956, 19xx-10-2...",19xx?10-23,01-26-1956
marital,marital,object,1,13,8,"[soltero, casado, Soltero, divorciado, SOLTERO...",NaN,NaN
people,people,object,0,14,14,"[Alfonso A,guilar, edu6ardo Castillo, jocelyn ...",jocelyn medel,ANA PAULA RANGEL OCHOA&
ssn,ssn,object,1,13,8,"[6439, 689 24 9939, 306-05-2792, 99922a45832, ...",NaN,NaN

In [ ]:
"    Gaddiel Desirena    "

In [ ]:
def remove_left_rigth_white_space(x):
    
    return x

In [78]:
dirty_df['ssn']

0            6439
1     689 24 9939
2     306-05-2792
3     99922a45832
4            6439
5     689 24 9939
6     306-05-2792
7     99922a45832
8             NaN
9            6439
10    689 24 9938
11    306-06-2792
12    99922a45845
13        missing
Name: ssn, dtype: object

In [80]:
'6587'+'000000'

'6587000000'

In [82]:
dirty_df['marital'].unique()

array(['soltero', 'casado', 'Soltero', 'divorciado', 'SOLTERO', 'CASado',
       'DIVORCIADO', nan, 'missing'], dtype=object)

### Actividad 

1.- Crear una función que quite los espacios en blando de la izquierda y la derecha, añadirlo a la clase CDIN y probarlo con el dataset dirty_data.csv.

2.- Limpiar la columna 'people', quitar signos de puntuación, números, dejar en minúsculas y eliminar espacios de la derecha e izquierda de cada campo.

3.- limpiar la columns ssn, dejar sólo dígitos, si el número de dígitos son menores a 10, rellenarlos con ceros a la derecha

4.- limpiar columna marital, las categorías deben ser las siguientes, si es soltero entonces renombrar el valor con 'S', si es 
casado con 'C', y si es divorciado entonces con 'D', missing 'm'

5.- crear un reporte de calidad de datos utilizando el método dqr(), añada esta función en la clase CDIN, importar la clase y utilizar la función para generar el reporte de calidad de datos.

## EDA utilizando el reporte de calidad de datos